body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book{
    width: 1000px;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}
.page1{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    font-size: 17px;
    border: 10px solid white;
    padding: 0px;
}
.page2{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    display: none;
    border: 10px solid white;
    padding: 0px;
}
.buttons{
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page3{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    display: none;
    border: 10px solid white;
}
.list{
    line-height: 1.5;
}
.next{
    border: 0px;
    border-radius: 30px;
    padding: 20px 50px 20px;
    background-color: aqua;
    color: yellow;
    font-size: 20px;
    
}